# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore any other system files
.DS_Store
Thumbs.db

# Ignore cache and temporary files
.cache/

# Ignore Tauri build folders
src-tauri/release/
src-tauri/debug/
.config/apple-signing/
.config/apple-signing/

# Local Netlify folder
.netlify
